/* Center align the title */
.title {
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Outer container styling */
.training-calendar {
  margin: 5px auto;
  background-color: white;
  border-radius: 20px;
  border: 8px solid whitesmoke;
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99vw;
  box-sizing: border-box;
}

/* Table container */
.table-container {
  width: 94vw; /* Takes 99% of the viewport width */
  /* max-width: 1600px; */
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  text-align: center;
}

th, td {
  border: 1px solid grey;
  padding: 9px;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
}

th {
  background-color: orange;
  color: black;
  font-weight: bold;
}


.yellow {
  background-color: yellow;
}

/* Responsive styling */
@media screen and (max-width: 1200px) {
  th, td {
      font-size: 0.9em;
      padding: 8px;
  }
}

@media screen and (max-width: 992px) {
  th, td {
      font-size: 0.8em;
      padding: 6px;
  }
}

@media screen and (max-width: 768px) {
  th, td {
      font-size: 0.7em;
      padding: 5px;
  }
}
.download-btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #45a049;
}
