/* .dashboard-container {
  display: flex;
  height: 100vh;
}


.sidebar {
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Add a shadow to the sidebar */
  transition: width 0.3s ease-in-out;
}

.sidebar.collapsed {
  width: 90px; /* Smaller width when collapsed */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* visibility: visible; Default visibility */
  /* transition: visibility 0.3s ease-in-out; Smooth transition for visibility */
}




.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 10px;
  color: grey;
}



.options-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-right:22px;
}

.options {
  text-align: center;
  margin: 5px 0;
  border-radius: 10px;
  padding: 12px;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align icon and text in the row */
  gap: 10px;
  color: rgb(137, 130, 130);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.options:hover {
  background-color: #e0f7fa;
  transform: scale(1.05); /* Slight scaling effect */
}

.options .name {
  display: inline-block;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
}
.icon{
  margin-left: 10px;
}
.dashboard-img {
  width: 150px;
  display: block; /* Default: image is visible */
  transition: display 0.3s ease-in-out; /* Transition to hide the image */
  margin-right: 10px;
}

.sidebar.collapsed .dashboard-img {
  display: none; /* Hide image and remove its space when sidebar is collapsed */
}

.dashboard-log-button{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-size: small; */
    /* font-weight:100; */
    color: orange;
    /* margin-right:22px; */
} */